<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">

    <title>ServiceHub</title>
</head>
<body>

<!-- Navigation -->
<header th:fragment="navigation"
        class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <div class="text-end ms-auto">


                <th:block sec:authorize="isAuthenticated()">
                    <a th:href="@{/service-provider}" class="btn btn-outline-light me-2">Home</a>

                    <a th:href="@{/user/profile/{userId}(userId  = ${#authentication.principal.id})}"
                       class="btn btn-outline-light me-2">My Profile</a>

                    <a sec:authorize="hasRole('ADMIN')"
                       th:href="@{/admin}" class="btn btn-outline-light me-2">Admin Panel</a>
                    <form th:action="@{/logout}"
                          th:method="post" class="d-inline-block">
                        <input class="btn btn-outline-light me-2" type="submit" value="Logout">
                    </form>
                </th:block>

                <th:block sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="btn btn-outline-light me-2">Login</a>
                    <a th:href="@{/register}" class="btn btn-warning">Sign-up</a>
                </th:block>

            </div>
        </div>
    </div>
</header>
<!-- End Navigation -->

</body>
</html>