<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>


<body>

<!-- Navigation -->
<header th:replace="fragments/commons::navigation"></header>
<!-- End Navigation -->

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row justify-content-center">

        <div class="col-md-8">
            <div class="p-3 py-4">
                <h3>Add service</h3>
                <br>

                <form
                        th:action="@{/service-provider/add}"
                        th:method="post"
                        th:object="${createServiceProviderDto}">
                    <div class="row">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea th:field="*{description}"
                                      th:errorclass="'is-invalid'"
                                      class="form-control" id="description" rows="7"
                                      placeholder="Description of the service"></textarea>
                            <p class="invalid-feedback alert alert-danger">
                                Description is required.
                            </p>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <label for="location">Location</label>
                        <input th:field="*{location}"
                               th:errorclass="'is-invalid'"
                               class="form-control" type="text" id="location"
                               placeholder="Location">

                        <p class="invalid-feedback alert alert-danger">
                            Location is required.
                        </p>
                    </div>
                    <br>
                    <p>Choose service</p>
                    <div class="row mt-3">
                        <div class="form-group mx-2 col">
                            <div class="mb-2 d-flex align-items-center me-4">
                                <label for="serviceName" class="form-label me-2">Service</label>
                                <select name="serviceName" id="serviceName" class="form-select"
                                        th:field="*{serviceName}" required>
                                    <option value="">Select Service</option>
                                    <option th:each="service : ${servicesDropDown}" th:value="${service}"
                                            th:text="${service}"></option>
                                </select>
                                <p class="invalid-feedback alert alert-danger"
                                   th:if="${#fields.hasErrors('serviceName')}">
                                    Service is required.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Add service</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>