<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>

<!-- Navigation -->
<header th:replace="fragments/commons::navigation"></header>
<!-- End Navigation -->

<h2 class="text-center pt-3">Admin panel</h2>

<div class="row p-4">

    <div th:if="${message}" class="alert alert-info mt-4" role="alert">
        <p th:text="${message}"></p>
    </div>

    <div class="card card-body">

        <div class="d-flex justify-content-between mb-4">

            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#serviceCategoryModal">
                Add Service Category
            </button>

            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#serviceModal">
                Add Service
            </button>
        </div>

        <!-- Add Service Category Modal -->
        <div class="modal fade" id="serviceCategoryModal" tabindex="-1" aria-labelledby="serviceCategoryModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="serviceCategoryModalLabel">Create Service Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/admin/create-service-category}" method="post"
                              th:object="${serviceCategoryRequestDto}">
                            <div class="mb-3">
                                <label for="categoryName" class="form-label">Category Name</label>
                                <input type="text" id="categoryName" class="form-control" th:field="*{name}" required/>
                            </div>
                            <button type="submit" class="btn btn-success">Create Category</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Service Modal -->
        <div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="serviceModalLabel">Create Service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/admin/create-service}" method="post" th:object="${serviceRequestDto}">
                            <div class="mb-3">
                                <label for="serviceName" class="form-label">Service Name</label>
                                <input type="text" id="serviceName" class="form-control" th:field="*{serviceName}"
                                       required/>
                            </div>

                            <div class="mb-3">
                                <label for="serviceCategory" class="form-label">Service Category</label>
                                <select id="serviceCategory" class="form-select" th:field="*{serviceCategoryName}"
                                        required>
                                    <option value="" selected disabled>Choose a category</option>
                                    <option th:each="category : ${allCategories}"
                                            th:value="${category}"
                                            th:text="${category}"></option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-success">Create Service</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="table-responsive h435 overflow-auto">
            <table class="table table-centered mb-0">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">IsProvider</th>
                    <th scope="col">role</th>
                    <th scope="col">Choose role</th>
                    <th scope="col">Change role</th>
                    <th scope="col">Delete user</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${allUsers}">
                    <th th:text="*{user.id}" scope="row">1</th>
                    <td class="hover">
                        <a th:href="@{/user/profile/{userId}(userId=*{user.id})}" th:text="*{user.email}"
                           class="text-body">Go to profile</a>
                    </td>
                    <td th:text="*{user.name}">Name</td>
                    <td th:text="*{user.isProvider}">isProvider</td>

                    <td th:if="${user.deleted == true}">
                        <h6>The user has been deleted</h6>
                    </td>

                    <th:block th:if="${user.deleted == false}">
                        <td th:text="*{user.role}">role</td>

                        <!-- Role change form -->
                        <form th:method="post" th:action="@{/admin/{id}(id = *{user.id})}">
                            <td th:object="${changeRoleDto}">
                                <select th:field="*{role}" class="form-select user-select">
                                    <option value="" selected>Choose role</option>
                                    <option th:each="r : ${roleDropDown}" th:value="${r}" th:text="${r}"></option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-info">Change</button>
                            </td>
                        </form>

                        <th:block th:if="${user.id != currentUserId}">
                            <form th:method="post" th:action="@{/admin/delete-user/{id}(id = ${user.id})}">
                                <td>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </form>
                        </th:block>

                    </th:block>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
