<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>

<body>

<!-- Navigation -->
<header th:replace="fragments/commons::navigation"></header>
<!-- End Navigation -->

<div class="container rounded bg-white mt-5 mb-5 p-3">
    <div th:object="${serviceProviderInfo}" class="row justify-content-center">
        <div class="col-md-8">

            <h3 th:text="*{serviceName}" class="text-center m-4">Service Provider Name</h3>

            <div class="row">
                <!-- Left Section -->
                <div class="col-md-6">

                    <div class="card-body">
                        <p class="card-title text-truncate">
                            <em class="text-muted">Service Category: </em>
                            <span th:text="*{serviceCategoryName}">Service Category Name</span>
                        </p>
                    </div>

                    <div class="card-body">
                        <p></p>
                    </div>

                    <div class="card-body">
                        <p class="card-title text-truncate">
                            <em class="text-muted">Location: </em>
                            <span th:text="*{location}">Service Location</span>
                        </p>
                    </div>

                    <div class="card-body">
                        <p class="card-title text-truncate">
                            <em class="text-muted">Published At: </em>
                            <span th:text="${#dates.format(serviceProviderInfo.publishedAt, 'yyyy-MM-dd')}">Date Published</span>
                        </p>
                    </div>
                </div>

                <!-- Right Section -->
                <div class="col-md-6">

                    <div class="card-body">
                        <p class="card-title text-truncate">
                            <em class="text-muted">Provider: </em>
                            <span th:text="*{providerName}">Provider Name</span>
                        </p>
                    </div>

                    <div class="card-body">
                        <p class="card-title text-truncate">
                            <em class="text-muted">Provider Email: </em>
                            <span th:text="*{providerEmail}">provider@example.com</span>
                        </p>
                    </div>

                    <div class="card-body">
                        <p class="card-title text-truncate">
                            <em class="text-muted">Provider Phone: </em>
                            <span th:text="*{providerPhoneNumber}">1234567</span>
                        </p>
                    </div>

                    <div class="card-body">
                        <a th:href="@{/user/profile/{userId}(userId=*{providerId})}"
                           class="btn btn-custom profile-button">
                            <i class="bi bi-person-fill"></i> View Profile
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <p th:text="*{description}" class="mt-5">
                Service Description
            </p>

            <div class="d-flex justify-content-end align-items-center mt-4">

                <form th:action="@{/service-provider/view-info/like/{serviceProviderId}(serviceProviderId=${serviceProviderInfo.id})}" method="post" class="mr-3">
                    <button type="submit" class="btn btn-primary btn-sm me-3">
                        <i class="bi bi-heart-fill"></i> Like
                    </button>
                </form>

                <span th:text="|Likes: | + *{likesCount}" class="text-right">Likes Count</span>
            </div>

            <div th:if="${likeMessage}" class="alert alert-success mt-3">
                <strong>Success!</strong> You liked this service provider.
            </div>

            <div class="reviews mt-4">
                <h4 class="text-center">Reviews</h4>

                <div th:if="${#lists.isEmpty(serviceProviderInfo.reviews)}">
                    <p class="text-center text-muted">No reviews yet.</p>
                </div>

                <div th:each="review : ${reviews}">
                    <div class="review-item border p-3 mb-3 rounded">

                        <div class="d-flex justify-content-between">

                            <div>
                                <p th:text="${review.content}" class="mt-2">This is a review content.</p>
                            </div>

                            <div class="text-right">
                                <em>Publisher: </em>
                                <small class="reviewer-name font-weight-bold" th:text="${review.nameOfUser}">Reviewer
                                    Name</small>
                                <br>
                                <em>Publish at: </em>
                                <small class="text-muted"
                                       th:text="${#dates.format(review.publishedAt, 'yyyy-MM-dd HH:mm:ss')}">Review
                                    Date</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr>

            <div class="add-review mt-4">
                <h5 class="text-center">Add a Review</h5>
                <form th:action="@{/service-provider/{id}/add-comment(id=${serviceProviderInfo.id})}" method="post">
                    <div class="form-group">
                        <label for="comment">Your Comment:</label>
                        <textarea class="form-control" id="comment" name="content" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block mt-3">Submit Review</button>
                    </div>
                </form>
            </div>

            <th:block th:if="${isAuthor}">
                <div class="d-flex justify-content-between mt-4">
                    <a th:href="@{/service-provider/edit/{id}(id = *{id})}"
                       class="btn btn-primary btn-outline-dark btn-lg m-4">
                        Edit Information
                    </a>
                </div>
            </th:block>

        </div>
    </div>
</div>

</body>
</html>
